{% extends 'dashboard_layout.html' %}

{% block dashboard_content %}


<!-- Side Nav -->
<div class="col-lg-3 col-md-4 col-12 border-end d-none d-md-block">
   <div class="pt-10 pe-lg-10">
      
      <ul class="nav flex-column nav-pills nav-pills-dark">
         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('customer.account_orders') }}">
               <i class="feather-icon icon-shopping-bag me-2"></i>
               Your Orders
            </a>
         </li>
         
         <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('customer.account_settings') }}">
               <i class="feather-icon icon-settings me-2"></i>
               Settings
            </a>
         </li>
         
         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('customer.account_payment_method') }}">
               <i class="feather-icon icon-credit-card me-2"></i>
               Payment Method
            </a>
         </li>

         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('customer.enquiry') }}">
               <i class="feather-icon icon-help-circle me-2"></i>
               Enquiry
            </a>
         </li>

         <li class="nav-item">
            <a class="nav-link" href="{{ url_for('customer.notification') }}">
               <i class="feather-icon icon-bell me-2"></i>
               Notification
            </a>
         </li>
         
         <li class="nav-item">
            <hr />
         </li>
         
         <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.logout')}}">
               <i class="feather-icon icon-log-out me-2"></i>
               Log out
            </a>
         </li>
      </ul>
   </div>
</div>

<!-- Main Content -->
<div class="col-lg-9 col-md-8 col-12">
   <div class="py-6 p-md-6 p-lg-10">
      <div class="mb-6">
         <!-- heading -->
         <h2 class="mb-0">Account Setting</h2>
      </div>
      <div>
         <!-- heading -->
         <h5 class="mb-4">Account details</h5>
         <div class="row">
            <div class="col-lg-5">
               <!-- form -->
               <form method="POST" action="{{ url_for('customer.account_settings') }}" enctype="multipart/form-data">
                  {{ form.csrf_token }}
                  <!-- Email -->
                  <div class="mb-3">
                     <label class="form-label">{{ form.email.label }}</label>
                     {{ form.email(class="form-control") }} {{ form.original_email() }}
                  </div>
                  <!-- Title -->
                  <div class="mb-3">
                     <label class="form-label">{{ form.title.label }}</label>
                     {{ form.title(class="form-control") }}
                  </div>
                  <!-- First name -->
                  <div class="mb-3">
                     <label class="form-label">{{ form.firstname.label }}</label>
                     {{ form.firstname(class="form-control", pattern="[A-Za-z]+", title="Only letters are allowed.") }}
                  </div>
                  <!-- Last name -->
                  <div class="mb-3">
                     <label class="form-label">{{ form.lastname.label }}</label>
                     {{ form.lastname(class="form-control", pattern="[A-Za-z]+", title="Only letters are allowed.") }}
                  </div>
                  <!-- Phone -->
                  <div class="mb-5">
                     <label class="form-label">{{ form.phone.label }}</label>
                     {{ form.phone(class="form-control") }}
                  </div>
                  <!-- Address -->
                  <div class="mb-5">
                     <label class="form-label">{{ form.address.label }}</label>
                     {{ form.address(class="form-control") }}
                  </div>
                  <!-- Date of Birth -->
                  <div class="mb-3">
                     <label class="form-label">{{ form.date_of_birth.label }}</label>
                     {{ form.date_of_birth(class="form-control") }}
                  </div>
                  <!-- button -->
                  <div class="mb-3">
                     <button class="btn btn-primary">Save Details</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <hr class="my-10" />
      <div class="pe-lg-14">
         <!-- heading -->
         <h5 class="mb-4">Password</h5>
         <form method ="POST" action= "{{ url_for('customer.change_password') }}" enctype="multipart/form-data" class="row row-cols-1 row-cols-lg-2">
            {{ password_form.csrf_token }}
            <!-- Current Password -->
            <div class="mb-3 col">
               {{ password_form.current_password.label(class="form-label") }}
               {{ password_form.current_password(class="form-control", placeholder="********") }}
            </div>
            <!-- New Password -->
            <div class="mb-3 col">
               {{ password_form.new_password.label(class="form-label") }}
               {{ password_form.new_password(class="form-control", placeholder="********") }}
            </div>
            <!-- input -->
            <div class="col-12">
               <p class="mb-4">
                  Can't remember your current password?
                  <a href="{{ url_for('auth.forgot_password')}}">Reset your password.</a>
               </p>
               <!-- button -->
               <div class="mb-3">
                  <button class="btn btn-primary">Change Password</button>
               </div>
            </div>
         </form>
      </div>
      <hr class="my-10" />
      <div>
         <!-- heading -->
         <h5 class="mb-4">Delete Account</h5>
         <p class="mb-2">Would you like to delete your account?</p>
         <p class="mb-5">This account cannot be deleted because it has associated order transactions.</p>
         <!-- btn -->
         <button class="btn btn-outline-danger" disabled>I want to delete my account</button>
      </div>
   </div>
</div>

{% endblock %}
