{% extends "base.html" %}
{% block title %}Our Stores{% endblock %}

{% block content %}


<main>
    <section class="mt-8">
       <div class="container">
          <div class="row">
             <div class="col-12">
                <div class="bg-light d-flex justify-content-between ps-md-10 ps-6 rounded">
                   <div class="d-flex align-items-center">
                      <h1 class="mb-0 fw-bold">Stores</h1>
                   </div>
                   <div class="py-6">
                      <img src="/static/assets/images/svg-graphics/stores-page.svg" alt="" class="img-fluid" />
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>

    <section class="mt-6 mb-lg-14 mb-8">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 g-lg-4">
                {% for store in stores %}
                <div class="col">
                    <div class="card flex-row p-8 card-product">
                        <img src="{{ url_for('static', filename='assets/images/stores-logo/' ~ store.image_url) }}" alt="{{ store.store_name }}" class="rounded-circle icon-shape icon-xl">
                        <div class="ms-6">
                            <h5 class="mb-1">
                                <a href="#" class="text-inherit">{{ store.store_name }}</a>
                            </h5>
                            <div class="small text-muted">{{ store.address }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    

 </main>

{% endblock %}
